<table class="table">
  <tr>
    <th>Number</th>
    <th>Task</th>
    <th>Responsible</th>
    <th>Date</th>
    <th>State</th>
  </tr>
  <tr *ngFor="let item of dataItems; let i = index">
    <td>{{i + 1}}</td>
    <td>{{item.task}}</td>
    <td>{{item.who}}</td>
    <td>{{item.dueDate}}</td>
    <td>{{item.done}}</td>
  </tr>
</table>
