<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>Welcome</h2>
    </div>
    <div class="animationload">
      <div class="osahanloading"></div>
    </div>
  </div>
</div>
